@{
    ViewData["Title"] = "Sobre";
}

<h1>Sobre a Empire Heroes</h1>

<p>
    Somos a maior varejista de artigos esportivos do Brasil.
    Através de nossa plataforma e-commerce,
    buscamos oferecer excelência no atendimento a nossos consumidores tanto na loja física quanto em nossa plataforma digital.
</p>


<h2>História</h2>
<br />
<h3>Onde começamos?</h3>

<p>
    Faturamos nosso primeiro pedido em 2020, durante a pandemia mundial, dando início a nossa missão:
    ser o destino preferido de compras online no Brasil.
<p>
<p>
    Desde nossa criação adotamos uma estratégia inovadora e desenvolvemos nosso próprio sistema de cartão,
    com uma plataforma operacional exclusiva para melhor atender nossos clientes em todo o Brasil.
</p>
<p>
    No primeiro mês nos tornamos líder alcançamos um grando número de clientes no setor de varejo no Brasil.
    Enquanto a base de clientes e a oferta de produtos e serviços não atingir nossas metas, não vamos descansar,
    o compromisso da nossa marca se mantém o mesmo: a satisfação de nossos consumidores.
</p>

