@{
    ViewData["Title"] = "Política de Privacidade";
}

<h1>Atualização: 01 de Novembro de 2020</h1>

<p>
    Esta Política de Privacidade (“Política”) é o documento que demonstra o compromisso da:
</p>
<p>
    COMÉRCIO DE PRODUTOS ESPORTIVOS S/A (“Empire Heroes” / “nós” / “nosso(a)”), 
    inscrita no CNPJ sob o nº 99.999.999/0000-00, com sede localizada na: Avenida Castelo Branco, nº 9999, 
    Jardim Zaira, Mauá – SP, CEP 00000-000 com a privacidade e proteção das informações, 
    quando tratamos Dados Pessoais ao prestar regularmente nossos serviços e quando o Usuário interage em nossos sites, 
    aplicativos ou quaisquer outras plataformas de nossa titularidade.
    Nesta Política, descrevemos como os Dados Pessoais do Usuário são coletados, utilizados, compartilhados e armazenados.
    Esta Política se aplica a todas as Plataformas, serviços e negócios da Empire Heroes.
    NOTA ESPECIAL PARA MENORES DE 18 ANOS
    A Empire Heroes proíbe que menores de 18 anos de cadastrar ou fazer compras nas Plataformas.
</p>
    
